<!DOCTYPE html>

<html>
  <head>
    <title></title>
  </head>
  <body>
    <ul>
      <li>
          <a href="http://localhost:8000/">Accueil</a>
      </li>
    </ul>
<ul>
    {% for game in games  %}
    <li>
          <a href="{{ path('product_detail', {
            'productId': game.id
                  }) }}">
                      {{ game.name|upper }} {{ game.id }}
                  </a>
              </li>
    {% endfor %}
    </ul>

    </body>
</html>
