<!DOCTYPE html>

<html>
<head>
</head>
<body>

    <ul>
      <li>
          <a href="http://localhost:8000/">Accueil</a>
      </li>
    </ul>
<ul>
    {% for game in games  %}
    <li>
          <a href="{{ path('product_detail', {
            'productId': game.id
                  }) }}">
                      {{ game.id }} - {{ game.name|upper }}
                  </a>
              </li>
    {% endfor %}
    </ul>
</body>
</html>
